<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
  <!--メッセージの一覧画面を作成 -->
</div>

<%= form_for(@message, html: { :class => 'form-horizontal'}) do |f| %>
  名前:
  <%= f.text_field :name, :class => 'form-control' %>
  内容:
  <%= f.text_area :body, :class => 'form-control', :size => "50x5" %>
  <!-- 本文入力部分:bodyを<textarea>タグに変更するためにf.text_areaに変更 -->
  <!-- 入力部分の大きさを広げたいので、＃:size => "50x5"＃を追加 -->
  <!--名前・内容・submitを縦に並べたいと思い、7.4を参考にformタグに<form class="form-horizontal">をつけ（済）、class="form-group"を入れ（入ってなくても動いた）、<input>タグにclass="form-control"を入れたい（済？submitにはclass設定しなくても整列した）  -->
  <%= f.submit%>
<% end %>