<h1>メッセージ一覧</h1>
<% @messages.each do |message| %>
  名前:<%= message.name %>
  内容:<%= message.body %>
  <br>
<% end %>

<%= form_for(@message) do |f| %>
  名前:
  <%= f.text_field :name %>
  内容:
  <%= f.text_area :body, :size => "50x5" %>
  <!-- 本文入力部分:bodyを<textarea>タグに変更するためにf.text_areaに変更 -->
  <!-- 入力部分の大きさを広げたいので、＃:size => "50x5"＃を追加 -->
  <%= f.submit %>
<% end %>